<!DOCTYPE html>
<html>
<head>
  <title>Susedské parkovanie</title>
  <%= stylesheet_link_tag    'application', 'starter-template.css' , media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Susedské parkovanie </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
          <% if current_user %>
            <li>
              <%= link_to 'Odhlásiť sa', destroy_user_session_path, method: :delete %>
            </li>
            <li class="<%= 'active' if current_page?(places_index_path) %>">
              <%= link_to 'Parkovacie miesta', places_index_path %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Prihlásiť sa', new_user_session_path %>
            </li>

          <% end %>

          <!--<li class="<%= 'active' if current_page?(about_index_path) %>"><%= link_to 'O nas', about_index_path %></li>
          <li class="<%= 'active' if current_page?(contact_index_path) %>"><%= link_to 'Kontakt', contact_index_path %></li>-->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <% flash.each do |a, b| %>
    <div class="alert alert-success", "text-center"><%= b %></div>
  <% end %>
  <%= yield %>
</body>
</html>
